/* VARIABLES */

// colors

$color-white: #FFFFFF;
$color-black: #000000;
$color-wine: #9b1c1f;
$color-gray-text: #333333;
$color-light-red: #f15463;
$color-green: #89b460;
// backgrounds

$bg-white: #FFFFFF;
$bg-black: #000000;



// font families

$font-smoothie: 'Smoothie', sans-serif;
$font-merriweather: 'Merriweather', serif;
